.products_db {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    margin:  0 auto;
}
.product_card {
    background-color: black;
}
.product_card_block {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_card_title {
    color: white;
    padding-left: 9rem;
}
.prd_content_flex {
    display: flex;
    align-items: center;
    color: white;
}
.prd_content_price {
    padding-left: 1rem;
}
.prd_content_img {
    width: 300px;
    height: 300px;
    border-radius: 9px;
}
.prd_content_img:hover {
    background-color: #2c2e35;
}
.prd_content_span {
    display: block;
    padding-top: 1rem;
    color: #0096d6;
    margin-top: 1rem;
}
.prd_content_btn {
    width: 140px;
    height: 50px;
    border-radius: 7px;
    background-color: #0096d6;
    margin-top: 1.5rem;
}
.prd_content_btn_2 {
    width: 140px;
    height: 50px;
    border-radius: 7px;
    background-color: #2c2e35;
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.product_all {
    width: 1150px;
    margin: 0 auto;
}
.product_card_sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}