.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175%; /* use relative width instead of fixed width */
  padding: 0 1rem; /* add some padding to the sides */
  background-color: black;
  border-radius: 10px;
  height: 60px;
  position: fixed;
  top: -673px;
  z-index: 3;
  left: 30px;
}
.navbar-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1380px;
  margin: 0 auto;
  background-color: black;
  border-radius: 10px;
  height: 60px;
  position: absolute;
  top: -460px;
  z-index: 3;
  left: 30px;
}
.fix {
  position: fixed;
}

.navbar__content_title {
  color: #ffffff;
  padding-left: 15px;
  flex-grow: 1; /* make title take up remaining space */
}

.navbar_link {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

.navbar_search[type="search"] {
  color: white;
  text-align: left;
  cursor: pointer;
  display: block;
  width: 250px;
  height: 40px;
  border-radius: 7px;
  padding-left: 1rem;
  background-color: #333;
  margin-right: 1rem;
  flex-shrink: 0; /* don't allow search bar to shrink */
}

.navbar_search::placeholder {
  color: white;
}

.navbar_card,
.navbar_profile {
  background: #222;
  color: white;
  height: 32px;
  margin-top: 4px;
  margin-right: 1rem;
  border-radius: 10px;
  flex-shrink: 0; /* don't allow icons to shrink */
}

.navbar__icons {
  display: flex;
  flex-shrink: 0; /* don't allow icons to shrink */
}

.navbar_shop {
  margin-left: auto;
  padding-right: 10rem;
}
.abs-img {
  position: relative;
  bottom: 3rem;
}

.abs-text {
  position: absolute;
  bottom: 100px;
  left: 350px;
}

.prd_content_img {
  margin-top: 2rem;
}

.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
  padding: 0px;
}

/* добавляем стили для бургер-меню */
.navbar__burger {
  display: block;
  position: absolute;
  top: 10px;
  right: 70px;
  cursor: pointer;
}

.navbar__burger_line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* стили для мобильного бургер-меню */
.navbar_shop--mobile {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 1;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.navbar__burger {
  display: none;
}
.navbar_shop--mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar__icons {
    padding-right: 2rem; /* reduce padding on smaller screens */
  }
  .navbar_shop {
    margin-left: 1rem; /* reduce padding on smaller screens */
  }
  .abs-text {
    left: 9rem; /* move absolute text to the left */
  }
  .abs-img {
    width: 112%;
  }
  .navbar {
    padding: 0;
    width: 114%;
    display: flex;
    justify-content: space-between; /* center elements on smaller screens */
  }
  .navbar__burger {
    display: none;
  }
  .navbar_shop--mobile {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar_shop {
    display: none;
    z-index: 50;
  }
  .navbar__icons {
    margin-left: auto;
  }

  .navbar {
    width: 200%;
  }
  /* скрываем бургер-меню на десктопе */
  .navbar__burger {
    display: block;
  }

  /* скрываем мобильное бургер-меню на десктопе */
  .navbar_shop--mobile {
    display: block;
  }

  .abs-img {
    width: 150%;
  }

  .navbar {
    width: 270%;
    display: flex;
    justify-content: flex-end !important;
  }
  .navbar__burger {
    right: 1000px;
    top: 13px;
  }
}

@media only screen and (max-width: 425px) {
  .navbar {
    width: 150%;
  }

  .navbar__burger {
    right: 540px;
    top: 15px;
  }
  .abs-img {
    width: 155%;
  }
}
@media only screen and (max-width: 320px) {
  .navbar {
    width: 114%;
  }
  .navbar__burger {
    right: 395px;
  }
  .abs-text {
    left: 7rem;
  }
  .abs-title {
    font-size: 35px !important;
    text-align: start !important;
  }
}
