@media only screen and (max-width: 1024px) {
  .abs-img {
    width: max-content;
  }
  .navbar_shop {
    padding-left: 10rem;
  }
  .navbar__icons {
    padding-right: 10rem;
  }
  .abs-text {
    left: 215px;
  }
  .header_block {
    padding-left: 10rem;
  }
  .product_card {
    padding-left: 5rem;
  }
}
